APP_ENV=development
JWT_SECRET=

POSTGRES_DB=cafenetchi-db
POSTGRES_USER=cafenetchi-user
POSTGRES_PASSWORD=cafenetchi-pass

MINIO_ROOT_USER=cafenetchi-user
MINIO_ROOT_PASSWORD=cafenetchi-pass

PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=cafenetchi-user
DB_PASS=cafenetchi-pass
DB_NAME=cafenetchi-db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=